.git
.gitignore
.env
docker
vendor
node_modules
npm-debug.log
docker-compose.yml
Dockerfile
.dockerignore
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
tests
README.md
readme.md
readme.pdf
.phpunit.result.cache
phpunit.xml
.php_cs
.prettierrc
.shift
modules_statuses.json
